body {
    background: linear-gradient(45deg,lightgreen,coral,lightgreen);
    font-family:"Comic Sans MS",sans-serif;
    text-align: center;
}
h1 {
    font-family: Castellar,sans-serif;
    font-size: 40px;
}

h2 {
    background: linear-gradient(45deg,red,black,red);
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 800px;
    margin: auto;
    box-shadow: 0 0 10px;
}
table {
    width: 100%;
     padding-left: 90px;
     padding-right: 90px;
     text-align: center;
}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}